{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort", "sort-keys-fix"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "simple-import-sort/imports": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ]
  }
}
